:root {
    --color-primary: rgb(49, 255, 186);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 62.5%;
    background-color: #333;
}

body > div {
    display: flex;
    justify-content: space-around;

}

.main {
    padding: 50px 20px;
}

#form-signup {
    background-color: #fff;
    padding: 20px 10px;
    width: 360px;
}

.form-header {
    margin: 30px 0;
}

.heading {
    text-align: center;
    font-size: 1.8rem;
}

.desc {
    text-align: center;
    font-size: 1.4rem;
}

.form-group + .form-group{
    margin-top: 15px;
}

.form-group.invalid .form-input{
    border-color: red;
}

.form-label {
    font-size: 1.4rem;
    font-weight: bold;
}

.form-input {
    font-size: 1.4rem;
    width: 100%;
    min-height: 30px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.form-input:hover,
.form-input:focus {
    border-color: var(--color-primary);
}

.text-validation {
    color: red;
    font-size: 1.2rem;
    padding-top: 3px;
    display: block;
}

.btn:hover {
    opacity: .8;
}

.btn-signup {
    width: 100%;
    min-height: 50px;
    font-size: 1.6rem;
    color: #fff;
    background-color: var(--color-primary);
    border: none;
    border-radius: 7px;
    margin-top: 20px;
    cursor: pointer;
}

.form-gender {
    font-size: 1.6rem;
    align-items: center;
}
.form-gender .form-input {
    width: 1.7rem;
    min-height: 1.7rem;
    font-size: 1.0rem;
}